/* Style Sheet for Website */

/* Defaults */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6;
  color: #222;
}

/* Headers and navigation styling */

#page-header {
  background-color: #bcc3be;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero insert */

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
}

.tagline {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-bottom: 20px;
}

.cta {
  background-color: rgb(20, 141, 50);
  color: #f9f9f9;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.cta:hover {
  background-color: #56be3e;
}

/* Resume page styling */

h1,
h2,
h3,
h4 {
  margin-top: 30px;
}

p {
  margin: 12px 0;
}

small {
  color: #8fa591;
}

main a {
  color: #99ebac;
}

main {
  padding: 15px;
}

/* Contact page Styling */

.course-table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin-top: 1rem;
}

.course-table th {
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding: 8px;
}

.course-table td {
  padding: 8px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.course-table tr:last-child td {
  border-bottom: none;
}

/* Projects */

#projects {
  padding: 2rem 0;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
  margin-top: 0;
}

.project-card a {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #148d32;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}


